//   THE IMAGE/TEXT SECTION
section.billboard-img {
  .background;
  // border div
  div.grabber {
    border: 1px solid lighten(@secondary-color, 5%);
    border-bottom: 7px solid darken(@secondary-color, 16%);
    border-right: 7px solid darken(@secondary-color, 15%);
    background-color: black;
    border-radius: 6px 6px 6px 6px;

    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 30rem;
    display: flex;
    justify-content: space-evenly;

    img {
      width: 25rem;
      height: auto;
      padding-left: 3rem;
    }
    div.text {
      padding: 2rem;
      H1 {
        color: @font-color;
        font-family: @main-font;
        font-size: 2rem;
        text-align: center;
        margin: 2.5rem 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid @secondary-color;
      }
      p {
        color: @font-color;
        font-family: @main-font;
        font-size: 1.5rem;
        align-self: center;
        margin: 0 auto;
      }
    }

    // the icon section
    div.icons {
      display: flex;
      justify-content: space-evenly;
      padding-top: 2.5rem;

      div.title {
        i {
          font-size: 3rem;
          background-color: @secondary-color;
          padding: 1rem;
          border-radius: 50px 50px 50px 50px;
        }
        i.fa-tools {
          background-color: rgb(48, 143, 252);
        }
        i.fa-plus {
          background-color: rgb(220, 247, 72);
        }
        i.fa-money-bill-alt {
          background-color: rgb(61, 214, 41);
        }

        // the titles for the icons
        h3.icon-title {
          font-family: @main-font;
          font-size: 1rem;
          padding-bottom: 1rem;
        }
        h3.a {
          color: rgb(48, 143, 252);
        }
        h3.b {
          color: rgb(220, 247, 72);
        }
        h3.c {
          color: rgb(61, 214, 41);
        }
      }
    }
  }
}
